[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
	shallow = true
[submodule "BetterDiscord/repos/zerebos"]
	path = BetterDiscord/repos/zerebos
	url = https://github.com/rauenzi/BetterDiscordAddons
	shallow = true
[submodule "BetterDiscord/repos/BDPluginLibrary"]
	path = BetterDiscord/repos/BDPluginLibrary
	url = https://github.com/rauenzi/BDPluginLibrary
	shallow = true
[submodule "BetterDiscord/repos/devilbro"]
	path = BetterDiscord/repos/devilbro
	url = https://github.com/mwittrien/BetterDiscordAddons
	shallow = true
[submodule "BetterDiscord/repos/lighty_github"]
	path = BetterDiscord/repos/lighty_github
	url = https://github.com/1Lighty/BetterDiscordPlugins
	shallow = true
[submodule "BetterDiscord/repos/lighty_gitlab"]
	path = BetterDiscord/repos/lighty_gitlab
	url = https://gitlab.com/_Lighty_/bdstuff
	shallow = true
[submodule "BetterDiscord/repos/strencher"]
	path = BetterDiscord/repos/strencher
	url = https://github.com/Strencher/BetterDiscordStuff
	shallow = true
[submodule "BetterDiscord/repos/DiscordCrypt"]
	path = BetterDiscord/repos/DiscordCrypt
	url = https://gitlab.com/leogx9r/DiscordCrypt
	shallow = true
